<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="main-title">SIP Calculator</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" style="--background: #FFDEC0;">
  <!--  -->
  <ion-grid class="main-grid">
    <form [formGroup]="sipForm" (ngSubmit)="calculateValue()">
      <ion-card style="margin: 0px;border-radius: 10px;">
        <ion-card-content>
          <ion-row style="padding: 5px 0px;margin: 0;">
            <ion-col size="12" class="title-data-col">
              <p style="margin: 5px 0px 0px !important;">Monthly Investment (Rs.)</p>
            </ion-col>
  
            <ion-col size="12" class="title-data-col">
              <input type="number" placeholder="Enter Amount" formControlName="monthlyInvestment" class="input-type">
              <div *ngIf="(f.monthlyInvestment.dirty && f.monthlyInvestment.invalid) || f.monthlyInvestment.touched">
                <small class="error-msg" *ngIf="f.monthlyInvestment.errors?.required">Monthly Investment is required.</small>
              </div>
            </ion-col>
  
            <ion-col size="12" class="title-data-col">
              <p style="margin: 5px 0px 0px !important;">Exp. Return Rate (%)</p>
            </ion-col>
  
            <ion-col size="12" class="title-data-col">
              <input type="number" placeholder="Enter Rate" formControlName="returnRate" class="input-type">
              <div *ngIf="(f.returnRate.dirty && f.returnRate.invalid) || f.returnRate.touched">
                <small class="error-msg" *ngIf="f.returnRate.errors?.required">Return rate is required.</small>
                <small class="error-msg" *ngIf="f.returnRate.errors?.pattern">Return rate cannot have more than 2 decimal places.</small>
              </div>
            </ion-col>
  
            <ion-col size="12" class="title-data-col">
              <p style="margin: 5px 0px 0px !important;">Period (Year)</p>
            </ion-col>
  
            <ion-col size="12" class="title-data-col">
              <ion-input type="number" placeholder="Enter Period" formControlName="totalYears" class="input-type"></ion-input>
              <div *ngIf="(f.totalYears.dirty && f.totalYears.invalid) || f.totalYears.touched">
                <small class="error-msg" *ngIf="f.totalYears.errors?.required">Period value is required.</small>
              </div>
            </ion-col>
          </ion-row>
          <!-- Button -->
          <ion-row style="padding: 0px;">
            <ion-col size="6" style="padding-left: 0px;">
              <ion-button type="button" class="calculate-btn" type="submit" [disabled]="sipForm.invalid">
                Calculate</ion-button>
            </ion-col>
            <ion-col size="6" style="padding-right: 0px;">
              <ion-button (click)="resetValue()" type="button" class="calculate-btn">Reset</ion-button>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </form>


    <!-- Result -->
    <div *ngIf="totalInvestment">
      <h3 style="padding-top: 10px;">Details</h3>
      <ion-card style="margin: 10px 0px 0px;border-radius: 10px;">
        <ion-card-content style="padding: 0px;">
          <ion-row style="margin-top: 0px;border-bottom: 1px solid #000;">
            <ion-col size="8" class="data-col font-bold">
              Total Investment (Rs.)
            </ion-col>
            <ion-col size="4" class="ion-text-end data-col">
              <div *ngIf="totalInvestment">{{totalInvestment}}</div>
            </ion-col>
          </ion-row>

          <ion-row style="margin-top: 0px;border-bottom: 1px solid #000;">
            <ion-col size="8" class="data-col font-bold">
              Estimated Returns (Rs.)
            </ion-col>
            <ion-col size="4" class="ion-text-end data-col">
              <div *ngIf="estimatedReturns">{{estimatedReturns}}</div>
            </ion-col>
          </ion-row>

          <ion-row style="margin-top: 0px;border-bottom: 1px solid #000;">
            <ion-col size="8" class="data-col font-bold">
              Total Value (Rs.)
            </ion-col>
            <ion-col size="4" class="ion-text-end data-col">
              <div *ngIf="totalValue">{{totalValue}}</div>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-grid>
</ion-content>