<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="main-title">Loan Calculator</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" style="--background: #FFDEC0;">
  <!--  -->
  <ion-grid class="main-grid">
    <form [formGroup]="loanForm" (ngSubmit)="calculateValue()">
      <ion-card style="margin: 0px;border-radius: 10px;">
        <ion-card-content>
          <ion-row style="padding: 5px 0px;margin: 0;">
            <ion-col size="12" class="title-data-col">
              <p style="margin: 5px 0px 0px !important;">Loan Amount (Rs.)</p>
            </ion-col>
  
            <ion-col size="12" class="title-data-col">
              <ion-input type="number" id="loanAmount" placeholder="Enter Amount" formControlName="loanAmount" class="input-type"></ion-input>
              <div *ngIf="(f.loanAmount.dirty && f.loanAmount.invalid) || f.loanAmount.touched">
                <small class="error-msg" *ngIf="f.loanAmount.errors?.required">Loan amount is required.</small>
              </div>
              <div *ngIf="loanAmountInWords" style="padding-top: 5px;">
                <span style="user-select: all;font-weight: bold;">{{loanAmountInWords}}</span>
                <span style="color: #ffc788;padding-left: 10px;text-decoration: underline;font-weight: bold;" (click)="copyWords()">Copy</span>
              </div>
            </ion-col>
  
            <ion-col size="12" class="title-data-col">
              <p style="margin: 5px 0px 0px !important;">Annual Interest Rate (%)</p>
            </ion-col>
  
            <ion-col size="12" class="title-data-col">
              <ion-input type="number" placeholder="Enter Rate" formControlName="annualRate" class="input-type"></ion-input>
              <div *ngIf="(f.annualRate.dirty && f.annualRate.invalid) || f.annualRate.touched">
                <small class="error-msg" *ngIf="f.annualRate.errors?.required">Annual rate is required.</small>
                <small class="error-msg" *ngIf="f.annualRate.errors?.max">Annual rate cannot be more than 99.99%.</small>
                <small class="error-msg" *ngIf="f.annualRate.errors?.pattern">Annual rate cannot have more than 2 decimal places.</small>
              </div>
            </ion-col>
  
            <ion-col size="12" class="title-data-col">
              <p style="margin: 5px 0px 0px !important;">Loan Term (Year)</p>
            </ion-col>
  
            <ion-col size="12" class="title-data-col">
              <ion-input type="number" placeholder="Enter Loan Term" formControlName="loanTerm" class="input-type"></ion-input>
              <div *ngIf="(f.loanTerm.dirty && f.loanTerm.invalid) || f.loanTerm.touched">
                <small class="error-msg" *ngIf="f.loanTerm.errors?.required">Loan term is required.</small>
                <small class="error-msg" *ngIf="f.loanTerm.errors?.max">Loan Term cannot be more than 30 Years.</small>
              </div>
            </ion-col>
          </ion-row>
  
          <!-- Button -->
          <ion-row style="padding: 0px;">
            <ion-col size="6" style="padding-left: 0px;">
              <ion-button type="button" class="calculate-btn" type="submit" [disabled]="loanForm.invalid">
                Calculate</ion-button>
            </ion-col>
            <ion-col size="6" style="padding-right: 0px;">
              <ion-button (click)="resetValue()" type="button" class="calculate-btn">Reset</ion-button>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </form>

    <!-- Result -->

    <ion-card *ngIf="monthlyRepayment" style="margin: 20px 0px 0px;border-radius: 10px;">
      <ion-card-content style="padding: 0px;">
        <!-- <ion-row class="result-table" style="padding: 0px;"> -->
        <ion-row style="margin-top: 0px;border-bottom: 1px solid #000;">
          <ion-col size="8" class="data-col">
            Monthly Repayment (EMI) (Rs.)
          </ion-col>
          <ion-col size="4" class="ion-text-end data-col">
            <div *ngIf="monthlyRepayment" style="text-align: center;">{{monthlyRepayment}}</div>
          </ion-col>
        </ion-row>

        <ion-row style="margin-top: 0px;border-bottom: 1px solid #000;">
          <ion-col size="8" class="data-col">
            Principal Paid (Rs.)
          </ion-col>
          <ion-col size="4" class="ion-text-end data-col">
            <div *ngIf="principalPaid" style="text-align: center;">{{principalPaid}}</div>
          </ion-col>
        </ion-row>

        <ion-row style="margin-top: 0px;border-bottom: 1px solid #000;">
          <ion-col size="8" class="data-col">
            Interest Paid (Rs.)
          </ion-col>
          <ion-col size="4" class="ion-text-end data-col">
            <div *ngIf="interestPaid" style="text-align: center;">{{interestPaid}}</div>
          </ion-col>
        </ion-row>

        <ion-row style="margin-top: 0px;border-bottom: 1px solid #000;">
          <ion-col size="8" class="data-col">
            Total Repayments Paid (Rs.)
          </ion-col>
          <ion-col size="4" class="ion-text-end data-col">
            <div *ngIf="totalRepaymentsPaid" style="text-align: center;">{{totalRepaymentsPaid}}</div>
          </ion-col>
        </ion-row>
        <!-- </ion-row> -->
      </ion-card-content>
    </ion-card>
  </ion-grid>

  <div *ngIf="repaymentSchedule.length" style="padding-bottom: 54px;">
    <h3>Repayment Schedule</h3>
    <ion-grid style="
    padding: 0px;
    text-align: center;">
      <ion-card style="margin: 0px;border-radius: 10px;">
        <ion-card-content style="padding: 0px;">
          <ion-row class="repayment-row">
            <ion-col class="data-col title" size="3">Months</ion-col>
            <ion-col class="data-col title" size="3">Principal</ion-col>
            <ion-col class="data-col title" size="3">Interest</ion-col>
            <ion-col class="data-col title" size="3">Balance</ion-col>
          </ion-row>
          <ion-row class="repayment-row" *ngFor="let payment of repaymentSchedule; let i = index">
            <ion-col class="data-col" size="3">{{ payment.month }}</ion-col>
            <ion-col class="data-col" size="3">{{ payment.principal | currency: "₹" }}</ion-col>
            <ion-col class="data-col" size="3">{{ payment.interest | currency: "₹" }}</ion-col>
            <ion-col class="data-col" size="3">{{ payment.remainingBalance | currency: "₹" }}</ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-grid>
  </div>
</ion-content>