<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-icon name="close" class="settings-icon" style="left: 16px !important;right: unset !important;z-index: 99;"
      (click)="closeApp()"></ion-icon>
    <ion-title style="text-align: center;color: #000;">
      Calculator
    </ion-title>
    <ion-icon name="settings-outline" class="settings-icon" (click)="openSettingsPage()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" style="--background: #FFDEC0;">
  <ion-grid style="padding: 0px;">
    <ion-row style="padding: 0px;">
      <ion-col size="6" *ngFor="let item of categoriesList">
        <img [src]="item.icon" (click)="openCalculator(item)">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>