ion-header::after {
  background-image: none !important;
}

.side-menu-title {
  margin: 0px 0px 5px !important;
  color: #000 !important;
  font-weight: bold !important;
}

.side-menu-item-subtitle {
  color: #000 !important;
  font-size: 13px;
}

.menu-items {
  background: transparent !important;
  color: #000 !important;
}

.sidemenu-icon {
  width: 35px;
  margin-right: 25px;
  color: #000;
  height: 28px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menu-items.selected {
  color: #ffc788 !important;
  background: #ffc788 !important;

  .side-menu-title,
  .side-menu-item-subtitle,
  .sidemenu-icon {
    color: #000 !important;
  }
}
